@font-face {
    font-family: "Balqis";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Balqis"),
        url("../fonts/balqis.woff2") format("woff2"),
        url("../fonts/balqis.woff") format("woff");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local("Roboto Condensed"),
        url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: local("Roboto Condensed"),
        url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Roboto Condensed"),
        url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
        url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
}

.title {
    font-family: "Balqis";
    font-size: 96px;
    line-height: 128px;
    font-weight: 400;
    color: #e2ab3f;
    margin-bottom: 100px;
}

.title span {
    display: block;
    font-family: "Roboto Condensed";
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    font-style: italic;
    color: #000000;
    margin-top: -20px;
}

/* header */

.header {
    background-image: url("../img/bg-header.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: "Roboto Condensed";
    font-weight: 400;
}

.header__item {
    display: inline-block;
}

.header__item + .header__item {
    margin-left: 52px;
}

.header__link:hover {
    text-decoration: underline;
}

.header__phone {
    padding-left: 40px;
    position: relative;
}

.header__phone::before {
    content: "";
    position: absolute;
    background-image: url("../img/phone-icon.svg");
    width: 30px;
    height: 30px;
    left: 0;
}

.header__title {
    padding-top: 152px;
    text-align: center;
    font-family: "Balqis";
    font-size: 250px;
    line-height: 334px;
    font-weight: 400;
}

.header__title span {
    display: block;
    text-align: right;
    font-family: "Roboto Condensed";
    font-size: 56px;
    line-height: 66px;
    font-weight: 300;
    font-style: italic;
    margin-top: -71px;
    margin-right: 91px;
}

/* fairy-tail */

.fairy-tail__title span {    
    margin-left: 181px;
}

.fairy-tail__inner {
    position: relative;
}

.fairy-tail__slider {
    width: 50%;
}

.fairy-tail__item picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fairy-tail__slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.fairy-tail__slick-prev {
    left: 0;    
}

.fairy-tail__slick-next {
    right: 0;
}

.fairy-tail__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fairy-tail__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.fairy-tail__body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.fairy-tail__text {
    padding: 10px 0;
}

.fairy-tail__body-title {
    font-weight: 400;
}

/* our-trip */

.our-trip__inner {
    position: relative;
}
.our-trip__content {
    width: 50%;
    padding-right: 55px;
}

.our-trip__container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.our-trip__title span {
    margin-left: 242px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}

.our-trip__box {
    font-size: 24px;
    line-height: 28px;
}

.our-trip__title-list {
    margin-bottom: 20px;
    font-weight: 400;
}

.our-trip__list {
    padding: 5px 0;    
}

.our-trip__link {
    font-size: 24px;
    line-height: 28px;
    padding: 11px 53px 11px 54px;
    border: 1px solid #e2ab3f;
}

.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__item picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-trip__slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.our-trip__slick-prev {
    left: 0;    
}

.our-trip__slick-next {
    right: 0;
}

/* hotel */

.hotel__title span {
    margin-left: 120px;
}

.hotel__inner {
    display: flex;
}

.hotel__content {
    margin-left: 100px;
}

.hotel__text {
    margin-bottom: 20px;
}

.hotel__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hotel__link {
    margin-top: 50px;
}

/* price */

.price {
    background-image: url("../img/price-1.png");
    background-repeat: no-repeat;
    background-position: top 118px right 16%;
}

.price__inner {
    display: flex;
}
.price__on {
    margin-right: 70px;
    max-width: 530px;
}

.price__on-title,
.price__off-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 50px;
}

.price__item + .price__item {
    margin-top: 20px;
}

/* contacts */

.contacts__inner {
    display: flex;
    justify-content: space-between;

}

.contacts__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__date,
.contacts__price {
    font-family: "Balqis";
    font-size: 96px;
    line-height: 69px;
    font-weight: 400;
    color: #e2ab3f;
}

.contacts__date {
    margin-bottom: 20px;    
}

.contacts__price {
    margin-left: 110px;
}

.contacts__date span,
.contacts__price span {
    font-size: 24px;
    line-height: 28px;    
    display: block;
    color: #000000;
}

.contacts__date span {
    font-style: italic;
    margin-left: 240px;
}

.contacts__price span {
    margin-left: 210px;
}

.contacts__form {
    max-width: 383px;
    margin: 0 auto;
}

.contacts__form-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 50px;
}

.contacts__input {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    padding: 14px 31px 15px 31px;
    border: 1px solid #e2ab3f;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.contacts__input::placeholder {
    color: #000000;
}

.contacts__button {
    font-size: 24px;
    line-height: 28px;
    padding: 12px 45px 10px 46px;
    border: 1px solid #e2ab3f;
    background-color: transparent;
    cursor: pointer;
}

/* footer */

.footer {
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    padding-top: 96px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    width: 356px;
    height: 527px;
    background-image: url("../img/footer-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 71px;
}

.footer__title {
    font-family: "Balqis";
    font-size: 86px;
    line-height: 115px;
    font-weight: 400;
    color: #e2ab3f;
    margin-bottom: 50px;
}

.footer__link {
    display: inline-block;
    padding-left: 40px;
    position: relative;
}

.footer__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 30px;
    height: 30px;
}

.footer__link--phone {
    margin-bottom: 20px;
}

.footer__link--email {
    margin-bottom: 38px;
}

.footer__link--phone::before {
    background-image: url("../img/phone-2.svg");
}

.footer__link--email::before {
    background-image: url("../img/email.svg");
}

.footer__list {
    display: flex;
    justify-content: center;
}

.footer__item + .footer__item {
    margin-left: 15px;
}

.footer__text {
    font-family: "Balqis";
    font-size: 86px;
    line-height: 115px;
    font-weight: 400;
}

@media (max-width: 1620px) {
    .price {
        background-position: top 118px right 7%;
    }
}

@media (max-width: 1350px) {
    .price {
        background-position: top 118px right 3%;
    }
}

@media (max-width: 1240px) {
    .header__title {
        font-size: 180px;
        line-height: 240px;
        padding-top: 120px;
    }

    .header__title span {
        font-size: 50px;
        margin-top: -50px;
    }

    .hotel__gallery {
        justify-content: center;
    }

    .price {
        background-position: bottom 0 right 0;
    }

    .price__inner {
        flex-direction: column;
    }

    .price__off {
        margin-top: 35px;
    }
}

@media (max-width: 1150px) {
    .contacts__inner {
        flex-direction: column;
    }

    .contacts__content {
        padding-bottom: 10px;
    }

    .contacts__inner picture {
        margin: auto;
    }

    .contacts__price {
        margin-bottom: 20px;
    }
}

@media (max-width: 1020px) {
    .footer__inner {        
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 950px) {
    .page-section {
        margin: 100px 0;
    }

    .fairy-tail__inner {
        position: static;
    }

    .fairy-tail__slider {
        width: auto;
    }

    .fairy-tail__content {
        position: static;
    }

    .fairy-tail__body {
        width: auto;
        padding-left: 0;
    }

    .our-trip__inner {
        position: static;
    }

    .our-trip__content {
        width: 100%;
    }

    .our-trip__slider {
        width: 100%;
        margin-top: 10px;
    }

    .our-trip__container {
        position: static;
    }

    .hotel__inner {
        flex-direction: column;
    }

    .hotel__inner picture {
        margin: auto;
    }

    .hotel__content {
        margin-top: 10px;
        margin-left: 0;
    }

    .hotel__link + .hotel__link {
        margin-left: 20px;
    }
}

@media (max-width: 840px) {
    .header__title {
        font-size: 120px;
        line-height: 150px;
        padding-top: 100px;
    }

    .header__title span {
        font-size: 30px;
        margin-top: -44px;
    }

    .header__top {
        font-size: 20px;
        line-height: 24px;
    }

    .header__phone::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }
}

@media (max-width: 670px) {
    .hotel__link + .hotel__link {
        margin-left: 0;
    }

    .contacts__inner picture {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        height: 50vh;
    }

    .footer__title,
    .footer__text {
        font-size: 46px;
        line-height: 62px;
    }
}

@media (max-width: 600px) {
    .header__top {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header__nav {
        margin: 0px 0px 25px;
        width: 100%;
        text-align: center;
    }

    .header__title {
        font-size: 80px;
        line-height: 120px;
    }

    .header__title span {
        font-size: 22px;
        line-height: -46px;
        margin-right: 15px;
    }

    .fairy-tail__slick-btn {
        display: none;
    }

    .fairy-tail__item img {
        width: 100%;
    }

    .page-section {
        margin: 50px 0;
    }

    .title {
        margin-bottom: 25px;
        font-size: 50px;
        line-height: 66px;
    }

    .title span {
        font-size: 15px;
        line-height: 18px;
        margin-left: 100px;
        margin-top: -16px;
    }

    .our-trip__slip-btn {
        display: none;
    }

    .our-trip__item img {
        width: 100%;
    }

    .our-trip__box {
        font-size: 18px;
        line-height: 21px;
    }

    .our-trip__link {
        font-size: 18px;
        line-height: 21px;
    }

    .hotel__picture {
        max-width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .price {
        background: none;
    }

    .price__on {
        margin-right: 0;
    }

    .contacts__date,
    .contacts__price {
        font-size: 50px;
        line-height: 37px;
    }

    .contacts__date span,
    .contacts__price span {
        font-size: 13px;
        line-height: 15px;
    }

    .contacts__price {
        margin-left: 60px;
    }

    .contacts__date span {
        margin-left: 130px;
    }

    .contacts__price span {
        margin-left: 110px;
    }

    .contacts__form-title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .contacts__button {
        font-size: 18px;
        line-height: 21px;
    }

    .footer__link--phone::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    .footer__link--email::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }

    .footer {
        padding-top: 50px;
    }
}

@media (max-width: 380px) {
    .footer__text {
        font-size: 35px;
        line-height: 50px;
    }
}

@media (max-width: 375px) {
    .header__title {
        font-size: 60px;
        line-height: 100px;
    }

    .header__title span {
        font-size: 18px;
        margin-right: 0;
    }

    .header__item + .header__item {
        margin-left: 15px;
    }

    .cotacts__form-title,
    .contacts__button {
        font-size: 17px;
    }

    .footer {
        padding-top: 0;
    }
}